body {
    background-color: brown;
}

p {
    color: aliceblue;

}

.p1 {
    font-size: 90px;
}
img{

    width: 350px;
    height: 350px;
}
.zapc-main{
    display: inline-block;
width: 100%;
 
}
.faru{
    padding: 2%;
    margin: 20px;
}