.p1 {
    font-size: 40px;
    color: aliceblue;
}

p {
    font-size: 90px;
    color: aliceblue;
}

body {
    background-color: brown;
}

* {
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

.main-div {
    width: 100%;
}

.child-div-cont,
.child-div {
    display: inline-block;

}

.child-div {
    width: 100%;
}

.child-div-cont{
    width: 47%;
    min-height: 100vh;
}

/* .child-div-text{
    background-color:red;
}
.child-div-img{
    background-color:blue;
} */

.child-img {
    width: 100%;
}

.child-div-cont {
    /* height: ; */
    width: 45%;
    display: inline-block;
    
}

h3 {
    font-size: 26px;
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.img{
    width: 45%;
}